@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  margin: 0;
  padding: 0;
  color: white;
  /*font-family: 'Signika', sans-serif;*/
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
   background-color: black;
   text-align: center; 
}

#container{
  text-align: center;
  background-image: url("../images/1bg.jpg");
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0rem;
  position: relative;
  top: 0;
}

h3{
  /*font-family: 'Signika', sans-serif;*/
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 1.8rem;
}

#display{
  width: 65vw;
  min-height: 40vh;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  padding: 1rem;
  border-radius: 33px;
}

#display > img{
  width: 35vw;
  max-width: 300px;
}

#display > p {
  /*font-family: 'Signika', sans-serif;*/
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

#toss {
  display: block;
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1rem 2rem;
  margin: 5vh auto;
  background-color: rgba(0,100,0,0.5);
  border-radius: 33px;
font-family: 'Roboto', sans-serif;
}



.nav ul {
  list-style: none;
/*  background-color: rgba(35,135,65);*/
background-color: rgba(0,0,0,0.5);
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  line-height: 30px;
  height: 30px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: rgba(0,100,0,0.5);
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 30px;
    line-height: 30px;
    font-size: 1.2em;
  }
 
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
